<p>
	<strong> Translation: </strong>
	<%= translation.first_language %>   -   <%= translation.second_language %>
</p>
<p>
	<strong> Association: </strong>
	<%= translation.tip %>
</p>
<p>
	<strong> Example of use: </strong>
	<%= translation.example %> 
</p>
<p> <%= link_to 'delete',  [translation.lesson, translation], method: :delete, data: {confirm: 'Are you sure?'} %></p>
